
.todo{
    flex-direction: row;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #ffffff;
    position: relative;
    font-size: 24px;
}

.todo-item{
    min-width: 60%;
    float: left;
}

.strike , .todo-itemstrike{
    min-width: 60%;
    float: left;
    text-decoration: line-through ;
    opacity: 0.5;
}
.complete-btn{
    float: right;
    color: #5be7c4;    
    margin-right: 5px ;
}
.trash-btn{
    float: right;
    color: #ff304f;
    
    
}


